.info,
.setting {
    flex: 1 1 480px;
    /* grow | shrink | base */
    min-width: 320px;
}

.panel {
    background: #E6EEEE;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.btn-header {
    display: flex;
    width: 100%;
}

.btn-upper,
.btn-lower {
    padding: 0.75rem;
    flex: 1;
    font-size: 0.9rem;
}


.active {
    background-color: #FF6500;
    color: white;
}

.setting-body {
    height: 95%;
    width: 100%;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
}

.setting-block {
    border: 1px solid #FF6500;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    text-align: center;
}

.setting-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.setting-section {
    padding: 2px 5px;
}

/* .node {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
} */
.node {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.active-view-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(104, 104, 104, 0);
    /* invisible */
    cursor: not-allowed;
    z-index: 10;
}

.confirm-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.confirm-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.button {
    width: 28.5%;
    height: 35px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    font: 14px 'Scada', sans-serif;
    font-weight: 400;
    padding: 5px;
    justify-content: space-between;
    display: inline;
}

button {
    border: 0px;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
    background-color: #45ADA8;
}

.button.no {
    background-color: #FF6500;
    color: white;
}

input[type="text"] {
    width: 3rem;
    padding: 0.25rem;
}

input[type="checkbox"] {
    transform: scale(1.3);
}

.info-buttons {
    background-color: #FF6500;
}

.diagram-wrapper {
    position: relative;   /* anchor */
    width: 100%;
    background: #f0f0f0;
    text-align: center;
    aspect-ratio: 5 / 6;
}

/* ALL images stacked */
.diagram-wrapper img {
    position: absolute;
    inset: 0;             /* top:0 right:0 bottom:0 left:0 */
    width: 90%;
    height: 90%;
    margin: auto;         /* center */
    object-fit: contain;
}

.info-header {
    background-color: #FF6500;
    height: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    color: white;
}

.sensor {
    position: absolute;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap;
}

.sensor.temp10 {
    top: 10%;
    left: 18%;
}
.sensor.press10 {
    top: 13%;
    left: 18%;
}
.sensor.temp11 {
    top: 16%;
    left: 18%;
}
.sensor.press11 {
    top: 19%;
    left: 18%;
}
.sensor.temp12 {
    top: 10%;
    left: 69%;
}
.sensor.press12 {
    top: 10%;
    left: 78%;
}
.sensor.temp13 {
    top: 15%;
    left: 78%;
}
.sensor.press13 {
    top: 18%;
    left: 78%;
}
.sensor.press14 {
    top: 17%;
    left: 50%;
}
.sensor.temp20 {
    top: 60%;
    left: 69%;
}
.sensor.press20 {
    top: 60%;
    left: 78%;
}
.sensor.temp21 {
    top: 65%;
    left: 78%;
}
.sensor.press21 {
    top: 68%;
    left: 78%;
}
.sensor.press22 {
    top: 67%;
    left: 50%;
}
.sensor.warning {
    top: 50%;
    left: 23%
}
.info-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 0.75rem;
  color: white;
}

/* Button style */
.btn-control {
  border: 3px solid #474747;
  padding: 0.6rem 0.3rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  user-select: none;
}

.btn-control:hover {
  background: #cfcfcf;
}

.btn-control.on::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: green;
  border-radius: 50%;
  margin-left: 6px;
}


@media (max-width: 480px) {
    .setting-grid {
        grid-template-columns: 1fr;
    }
     .info-buttons {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .info-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
    .btn-header {
        flex-wrap: wrap;
    }

    .btn-upper {
        width: 100%;
    }

    .btn-lower {
        width: 50%;
    }
}
@media (max-width: 900px) {
    .node {
        grid-template-columns: 1fr;
    }
}