.info {
    height: 100%;
    width: 100%;
}

.setting {
    height: 100%;
    width: 100%;
}

.panel {
    background-color: #E6EEEE;
    width: 80%;
    margin: 0 10%;
}

.btn-header {
    height: 5%;
    width: 100%;
}

.btn-upper {
    height: 100%;
    width: 50%;
}

.btn-lower {
    height: 100%;
    width: 25%;
}

.active {
    background-color: #FF6500;
    color: white;
}

.setting-body {
    height: 95%;
    width: 100%;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
}

.setting-block {
    border: 1px solid #FF6500;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    text-align: center;
}

.setting-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: auto;
    align-items: center;
}

.setting-section {
    padding: 2px 5px;
}

.node {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.active-view-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(104, 104, 104, 0);
    /* invisible */
    cursor: not-allowed;
    z-index: 10;
}

.confirm-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.confirm-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.button {
    width: 28.5%;
    height: 35px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    font: 14px 'Scada', sans-serif;
    font-weight: 400;
    padding: 5px;
    border: 0px;
    justify-content: space-between;
    display: inline;
}

.button:hover {
    cursor: pointer;
    background-color: #45ADA8;
}

.button.no {
    background-color: #FF6680;
    color: white;
}

input[type="text"] {
    width: 2rem;
    padding: 0 5px;
    margin: 0 5px;
}
input[type="checkbox"] {
  transform: scale(1.2);
  margin: 0 5px;
}

@media (min-width: 600px) {
    .header {
        grid-area: 1 / span 6;
    }

    .menu {
        grid-area: 2 / span 1;
    }

    .content {
        grid-area: 2 / span 4;
    }

    .facts {
        grid-area: 2 / span 1;
    }

    .footer {
        grid-area: 3 / span 6;
    }
}